@model List<EventManager.Models.UsersEvent>

@{
    ViewData["Title"] = "Interesujące Cię Wydarzenia";
}

<h2>Wydarzenia oznaczone jako zainteresowane</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Data</th>
                <th>Lokalizacja</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
}
else
{
    <p>Brak wydarzeń oznaczonych jako zainteresowane.</p>
}
