@{
    ViewData["Title"] = "Start";
}
<style>
    .topleft {
        position: relative;
        top: 8px;
        left: 16px;
        font-size: 18px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        width: 50%;
    }

</style>

<div class="topleft">
    <h1 class="display-4">EventManagment</h1>
    <p>Share your event!</p>
    <img class="home-image" src="Images/home-image.png" alt="EventManagment Home Image">
</div>