@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home-index__title">
    <h1 class="display-4">Projekt służący do organizacji i zarządzania wydarzeniami</h1>
    <p>Daniel Maćkowiak | K80 | 130599</p>
</div>
