@model IEnumerable<EventManagment.Models.ViewEvent>

@{
    ViewData["Title"] = "Confirmation";
}

<h1>Confirmation</h1>
<hr />

<h3>The event has been successfully marked as interested by you!</h3>
<a asp-action="Index">Back to List</a>